---
- name: Install tar on all servers
  hosts: main,centos,debian
  become: yes

  tasks:
  - name: Check and Print OS version
    debug: var=ansible_os_family
    
  - block: #Debian

    - name: Install tar (Debian)
      apt: name=tar state=latest

    when: ansible_os_family == "Debian"

  - block: #CentOS
    
    - name: Install tar (CentOS)
      dnf: name=tar state=latest

    when: ansible_os_family == "RedHat" 
