---
- name: Install htop on all CentOS and Debian servers
  hosts: all
  become: yes

  tasks:
  - name: Check and Print OS version
    debug: var=ansible_os_family
    
  - block: #Debian

    - name: Install htop (Debian)
      apt: name={{ item }} state=latest
      loop: 
        - "tar"
        - "curl"
        - "htop"
        - "tree"
        - "vim"
        - "sysstat"

    when: ansible_os_family == "Debian"

  - block: #CentOS
    
    - name: Update dnf repositories
      dnf:
        name: '*'
        state: latest
    
    - name: Install epel-release
      dnf: name=epel-release state=latest 

    - name: Install htop (CentOS)
      dnf: name={{ item }} state=latest
      loop: 
        - "tar"
        - "curl"
        - "htop"
        - "tree"
        - "vim"

    when: ansible_os_family == "RedHat" 
